<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>district</key>
	<dict>
		<key>action_type</key>
		<string>0</string>
		<key>type</key>
		<string>0</string>
		<key>order</key>
		<string>0</string>
		<key>text</key>
		<string></string>
		<key>left_title</key>
		<string>所在地区</string>
		<key>place_hold</key>
		<string></string>
	</dict>
	<key>house_type</key>
	<dict>
		<key>action_type</key>
		<string>1</string>
		<key>type</key>
		<string>0</string>
		<key>order</key>
		<string>1</string>
		<key>text</key>
		<string></string>
		<key>left_title</key>
		<string>户      型</string>
		<key>place_hold</key>
		<string></string>
	</dict>
	<key>purpose_purchase</key>
	<dict>
		<key>action_type</key>
		<string>2</string>
		<key>type</key>
		<string>0</string>
		<key>order</key>
		<string>2</string>
		<key>text</key>
		<string></string>
		<key>left_title</key>
		<string>购房目的</string>
		<key>place_hold</key>
		<string></string>
	</dict>
	<key>sale_price</key>
	<dict>
		<key>action_type</key>
		<string>3</string>
		<key>type</key>
		<string>0</string>
		<key>order</key>
		<string>3</string>
		<key>text</key>
		<string></string>
		<key>left_title</key>
		<string>售      价</string>
		<key>place_hold</key>
		<string></string>
	</dict>
	<key>area</key>
	<dict>
		<key>action_type</key>
		<string>4</string>
		<key>type</key>
		<string>0</string>
		<key>order</key>
		<string>4</string>
		<key>text</key>
		<string></string>
		<key>left_title</key>
		<string>面      积</string>
		<key>place_hold</key>
		<string></string>
	</dict>
</dict>
</plist>
