<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5014</key>
	<dict>
		<key>url</key>
		<string>secondHouse/update</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>5013</key>
	<dict>
		<key>url</key>
		<string>rentHouse/update</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>5012</key>
	<dict>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
		<key>url</key>
		<string>secondHouse/updateModel</string>
	</dict>
	<key>5011</key>
	<dict>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
		<key>url</key>
		<string>rentPurchaseInfo/referralsHouseList</string>
	</dict>
	<key>5010</key>
	<dict>
		<key>class</key>
		<string>QSSecondHandHouseListReturnData</string>
		<key>url</key>
		<string>rentPurchaseInfo/referralsHouseList</string>
	</dict>
	<key>5009</key>
	<dict>
		<key>class</key>
		<string>QSRentHouseListReturnData</string>
		<key>url</key>
		<string>rentPurchaseInfo/referralsHouseList</string>
	</dict>
	<key>5008</key>
	<dict>
		<key>class</key>
		<string>QSYRecommendTenantListReturnData</string>
		<key>url</key>
		<string>focus/list</string>
	</dict>
	<key>4997</key>
	<dict>
		<key>class</key>
		<string>QSNewHouseListReturnData</string>
		<key>url</key>
		<string>focus/list</string>
	</dict>
	<key>4998</key>
	<dict>
		<key>class</key>
		<string>QSRentHouseListReturnData</string>
		<key>url</key>
		<string>focus/list</string>
	</dict>
	<key>4999</key>
	<dict>
		<key>class</key>
		<string>QSSecondHandHouseListReturnData</string>
		<key>url</key>
		<string>focus/list</string>
	</dict>
	<key>4006</key>
	<dict>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
		<key>url</key>
		<string>linkMan/del</string>
	</dict>
	<key>4005</key>
	<dict>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
		<key>url</key>
		<string>order/complaint</string>
	</dict>
	<key>7001</key>
	<dict>
		<key>class</key>
		<string>QSPOrderDetailActionReturnBaseDataModel</string>
		<key>url</key>
		<string>commitOrder/cancel</string>
	</dict>
	<key>7002</key>
	<dict>
		<key>class</key>
		<string>QSPOrderDetailActionReturnBaseDataModel</string>
		<key>url</key>
		<string>commitOrder/commit</string>
	</dict>
	<key>7003</key>
	<dict>
		<key>class</key>
		<string>QSPOrderDetailActionReturnBaseDataModel</string>
		<key>url</key>
		<string>commitOrder/notice</string>
	</dict>
	<key>10005</key>
	<dict>
		<key>class</key>
		<string>QSPOrderDetailActionReturnBaseDataModel</string>
		<key>url</key>
		<string>order/fixedPrices</string>
	</dict>
	<key>10013</key>
	<dict>
		<key>class</key>
		<string>QSPOrderDetailActionReturnBaseDataModel</string>
		<key>url</key>
		<string>order/commitInspected</string>
	</dict>
	<key>10007</key>
	<dict>
		<key>url</key>
		<string>order/commit</string>
		<key>class</key>
		<string>QSPOrderDetailActionReturnBaseDataModel</string>
	</dict>
	<key>10006</key>
	<dict>
		<key>class</key>
		<string>QSPOrderDetailActionReturnBaseDataModel</string>
		<key>url</key>
		<string>order/accpetPrice</string>
	</dict>
	<key>10004</key>
	<dict>
		<key>url</key>
		<string>order/appointCommit</string>
		<key>class</key>
		<string>QSPOrderDetailActionReturnBaseDataModel</string>
	</dict>
	<key>10003</key>
	<dict>
		<key>class</key>
		<string>QSPOrderDetailActionReturnBaseDataModel</string>
		<key>url</key>
		<string>order/cancel</string>
	</dict>
	<key>10002</key>
	<dict>
		<key>class</key>
		<string>QSPOrderDetailActionReturnBaseDataModel</string>
		<key>url</key>
		<string>order/bid</string>
	</dict>
	<key>5500</key>
	<dict>
		<key>class</key>
		<string>QSYMyzoneStatisticsReturnData</string>
		<key>url</key>
		<string>tj/personTotal</string>
	</dict>
	<key>9005</key>
	<dict>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
		<key>url</key>
		<string>user/update</string>
	</dict>
	<key>5007</key>
	<dict>
		<key>url</key>
		<string>rentPurchaseInfo/del</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>5006</key>
	<dict>
		<key>url</key>
		<string>rentPurchaseInfo/update</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>4004</key>
	<dict>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
		<key>url</key>
		<string>linkMan/update</string>
	</dict>
	<key>4003</key>
	<dict>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
		<key>url</key>
		<string>linkMan/add</string>
	</dict>
	<key>4002</key>
	<dict>
		<key>class</key>
		<string>QSYContactDetailReturnData</string>
		<key>url</key>
		<string>user/userInfo</string>
	</dict>
	<key>4001</key>
	<dict>
		<key>class</key>
		<string>QSYContactsListReturnData</string>
		<key>url</key>
		<string>linkMan/list</string>
	</dict>
	<key>9004</key>
	<dict>
		<key>url</key>
		<string>user/get</string>
		<key>class</key>
		<string>QSYLoginReturnData</string>
	</dict>
	<key>5005</key>
	<dict>
		<key>url</key>
		<string>secondHouse/add</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>5004</key>
	<dict>
		<key>url</key>
		<string>rentHouse/add</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>5003</key>
	<dict>
		<key>url</key>
		<string>http://117.41.235.102:6300/index.php?r=upfile/index</string>
		<key>class</key>
		<string>QSYLoadImageReturnData</string>
	</dict>
	<key>5002</key>
	<dict>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
		<key>url</key>
		<string>rentPurchaseInfo/add</string>
	</dict>
	<key>5001</key>
	<dict>
		<key>class</key>
		<string>QSYAskRentAndBuyReturnData</string>
		<key>url</key>
		<string>rentPurchaseInfo/list</string>
	</dict>
	<key>5000</key>
	<dict>
		<key>class</key>
		<string>QSCommunityListReturnData</string>
		<key>url</key>
		<string>focus/list</string>
	</dict>
	<key>6002</key>
	<dict>
		<key>class</key>
		<string>QSOrderListReturnData</string>
		<key>url</key>
		<string>commitOrder/phoneList</string>
	</dict>
	<key>4000</key>
	<dict>
		<key>class</key>
		<string>QSYPostMessageListReturnData</string>
		<key>url</key>
		<string>message/list</string>
	</dict>
	<key>8001</key>
	<dict>
		<key>class</key>
		<string>QSOrderDetailReturnData</string>
		<key>url</key>
		<string>order/get</string>
	</dict>
	<key>8002</key>
	<dict>
		<key>class</key>
		<string>QSOrderDetailReturnData</string>
		<key>url</key>
		<string>commitOrder/get</string>
	</dict>
	<key>8003</key>
	<dict>
		<key>class</key>
		<string>QSPAppointmentOrderReturnData</string>
		<key>url</key>
		<string>order/upAppoint</string>
	</dict>
	<key>8004</key>
	<dict>
		<key>class</key>
		<string>QSPAppointmentOrderReturnData</string>
		<key>url</key>
		<string>order/bookAgain</string>
	</dict>
	<key>8005</key>
	<dict>
		<key>class</key>
		<string>QSPOrderDetailActionReturnBaseDataModel</string>
		<key>url</key>
		<string>order/applyBargain</string>
	</dict>
	<key>8008</key>
	<dict>
		<key>class</key>
		<string>QSOrderListReturnData</string>
		<key>url</key>
		<string>order/phoneList</string>
	</dict>
	<key>8011</key>
	<dict>
		<key>class</key>
		<string>QSPAppointmentOrderReturnData</string>
		<key>url</key>
		<string>Order/add</string>
	</dict>
	<key>3002</key>
	<dict>
		<key>url</key>
		<string>loupanActivity/list</string>
		<key>class</key>
		<string>QSDeveloperActivityListReturnData</string>
	</dict>
	<key>3001</key>
	<dict>
		<key>url</key>
		<string>tj/developersIndex</string>
		<key>class</key>
		<string>QSDeveloperReturnData</string>
	</dict>
	<key>2027</key>
	<dict>
		<key>url</key>
		<string>focus/del</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>2026</key>
	<dict>
		<key>url</key>
		<string>focus/del</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>2025</key>
	<dict>
		<key>url</key>
		<string>focus/del</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>2024</key>
	<dict>
		<key>url</key>
		<string>focus/del</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>2021</key>
	<dict>
		<key>url</key>
		<string>focus/add</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>2022</key>
	<dict>
		<key>url</key>
		<string>focus/add</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>2023</key>
	<dict>
		<key>url</key>
		<string>focus/add</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>2020</key>
	<dict>
		<key>url</key>
		<string>focus/add</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>9003</key>
	<dict>
		<key>url</key>
		<string>user/logout</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>9002</key>
	<dict>
		<key>class</key>
		<string>QSYLoginReturnData</string>
		<key>url</key>
		<string>user/login</string>
	</dict>
	<key>9001</key>
	<dict>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
		<key>url</key>
		<string>user/add</string>
	</dict>
	<key>9000</key>
	<dict>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
		<key>url</key>
		<string>user/checkSendVer</string>
	</dict>
	<key>2063</key>
	<dict>
		<key>url</key>
		<string>comment/list</string>
		<key>class</key>
		<string>QSCommentListReturnData</string>
	</dict>
	<key>2062</key>
	<dict>
		<key>url</key>
		<string>loupanHouse/view</string>
		<key>class</key>
		<string>QSHouseTypeDetailReturnData</string>
	</dict>
	<key>2061</key>
	<dict>
		<key>class</key>
		<string>QSActivityDetailReturnData</string>
		<key>url</key>
		<string>loupanActivity/view</string>
	</dict>
	<key>2053</key>
	<dict>
		<key>class</key>
		<string>QSRentHousesDetailReturnData</string>
		<key>url</key>
		<string>rentHouse/view</string>
	</dict>
	<key>2052</key>
	<dict>
		<key>class</key>
		<string>QSSecondHousesDetailReturnData</string>
		<key>url</key>
		<string>secondHouse/view</string>
	</dict>
	<key>2051</key>
	<dict>
		<key>class</key>
		<string>QSCommunityHousesDetailReturnData</string>
		<key>url</key>
		<string>village/view</string>
	</dict>
	<key>2050</key>
	<dict>
		<key>class</key>
		<string>QSNewHousesDetailReturnData</string>
		<key>url</key>
		<string>loupan/view</string>
	</dict>
	<key>3000</key>
	<dict>
		<key>url</key>
		<string>village/tj</string>
		<key>class</key>
		<string>QSYHomeReturnData</string>
	</dict>
	<key>2001</key>
	<dict>
		<key>class</key>
		<string>QSNewHouseListReturnData</string>
		<key>url</key>
		<string>loupan/list</string>
	</dict>
	<key>2002</key>
	<dict>
		<key>class</key>
		<string>QSCommunityListReturnData</string>
		<key>url</key>
		<string>village/list</string>
	</dict>
	<key>2045</key>
	<dict>
		<key>class</key>
		<string>QSMapCommunityListReturnData</string>
		<key>url</key>
		<string>village/mapList</string>
	</dict>
	<key>2003</key>
	<dict>
		<key>class</key>
		<string>QSSecondHandHouseListReturnData</string>
		<key>url</key>
		<string>secondHouse/list</string>
	</dict>
	<key>2004</key>
	<dict>
		<key>class</key>
		<string>QSRentHouseListReturnData</string>
		<key>url</key>
		<string>rentHouse/list</string>
	</dict>
	<key>1002</key>
	<dict>
		<key>class</key>
		<string>QSCityInfoReturnData</string>
		<key>url</key>
		<string>config/CityList?d</string>
	</dict>
	<key>2000</key>
	<dict>
		<key>class</key>
		<string>QSSecondHandHouseListReturnData</string>
		<key>url</key>
		<string>secondHouse/list</string>
	</dict>
	<key>1001</key>
	<dict>
		<key>class</key>
		<string>QSBaseConfigurationReturnData</string>
		<key>url</key>
		<string>config/get</string>
	</dict>
	<key>1000</key>
	<dict>
		<key>class</key>
		<string>QSConfigurationReturnData</string>
		<key>url</key>
		<string>config/version</string>
	</dict>
	<key>999</key>
	<dict>
		<key>class</key>
		<string>QSAdvertReturnData</string>
		<key>url</key>
		<string>site/advertise</string>
	</dict>
</dict>
</plist>
