<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3001</key>
	<dict>
		<key>url</key>
		<string>secondHouse/view</string>
		<key>class</key>
		<string></string>
	</dict>
	<key>2001</key>
	<dict>
		<key>class</key>
		<string>QSNewHouseListReturnData</string>
		<key>url</key>
		<string>loupan/list</string>
	</dict>
	<key>2002</key>
	<dict>
		<key>class</key>
		<string>QSCommunityListReturnData</string>
		<key>url</key>
		<string>village/list</string>
	</dict>
	<key>2003</key>
	<dict>
		<key>class</key>
		<string>QSSecondHandHouseListReturnData</string>
		<key>url</key>
		<string>secondHouse/list</string>
	</dict>
	<key>2004</key>
	<dict>
		<key>class</key>
		<string>QSRentHouseListReturnData</string>
		<key>url</key>
		<string>rentHouse/list</string>
	</dict>
	<key>1002</key>
	<dict>
		<key>class</key>
		<string>QSCityInfoReturnData</string>
		<key>url</key>
		<string>config/CityList?d</string>
	</dict>
	<key>2000</key>
	<dict>
		<key>class</key>
		<string>QSSecondHandHouseListReturnData</string>
		<key>url</key>
		<string>secondHouse/list</string>
	</dict>
	<key>1001</key>
	<dict>
		<key>class</key>
		<string>QSBaseConfigurationReturnData</string>
		<key>url</key>
		<string>config/get</string>
	</dict>
	<key>1000</key>
	<dict>
		<key>class</key>
		<string>QSConfigurationReturnData</string>
		<key>url</key>
		<string>config/version</string>
	</dict>
	<key>999</key>
	<dict>
		<key>class</key>
		<string>QSAdvertReturnData</string>
		<key>url</key>
		<string>site/advertise</string>
	</dict>
</dict>
</plist>
