<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2021</key>
	<dict>
		<key>url</key>
		<string>focus/add</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>2022</key>
	<dict>
		<key>url</key>
		<string>focus/add</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>2023</key>
	<dict>
		<key>url</key>
		<string>focus/add</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>2020</key>
	<dict>
		<key>url</key>
		<string>focus/add</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>9003</key>
	<dict>
		<key>url</key>
		<string>user/logout</string>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
	</dict>
	<key>9002</key>
	<dict>
		<key>class</key>
		<string>QSYLoginReturnData</string>
		<key>url</key>
		<string>user/login</string>
	</dict>
	<key>9001</key>
	<dict>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
		<key>url</key>
		<string>user/add</string>
	</dict>
	<key>8003</key>
	<dict>
		<key>class</key>
		<string>QSOrderListReturnData</string>
		<key>url</key>
		<string>order/phoneList</string>
	</dict>
	<key>9000</key>
	<dict>
		<key>class</key>
		<string>QSYSendVerticalCodeReturnData</string>
		<key>url</key>
		<string>user/checkSendVer</string>
	</dict>
	<key>2053</key>
	<dict>
		<key>class</key>
		<string>QSRentHousesDetailReturnData</string>
		<key>url</key>
		<string>rentHouse/view</string>
	</dict>
	<key>2052</key>
	<dict>
		<key>class</key>
		<string>QSSecondHousesDetailReturnData</string>
		<key>url</key>
		<string>secondHouse/view</string>
	</dict>
	<key>2051</key>
	<dict>
		<key>class</key>
		<string>QSCommunityHousesDetailReturnData</string>
		<key>url</key>
		<string>village/view</string>
	</dict>
	<key>2050</key>
	<dict>
		<key>class</key>
		<string>QSNewHousesDetailReturnData</string>
		<key>url</key>
		<string>loupan/view</string>
	</dict>
	<key>3000</key>
	<dict>
		<key>url</key>
		<string>village/tj</string>
		<key>class</key>
		<string>QSYHomeReturnData</string>
	</dict>
	<key>2001</key>
	<dict>
		<key>class</key>
		<string>QSNewHouseListReturnData</string>
		<key>url</key>
		<string>loupan/list</string>
	</dict>
	<key>2002</key>
	<dict>
		<key>class</key>
		<string>QSCommunityListReturnData</string>
		<key>url</key>
		<string>village/list</string>
	</dict>
	<key>2045</key>
	<dict>
		<key>class</key>
		<string>QSMapCommunityListReturnData</string>
		<key>url</key>
		<string>village/mapList</string>
	</dict>
	<key>2003</key>
	<dict>
		<key>class</key>
		<string>QSSecondHandHouseListReturnData</string>
		<key>url</key>
		<string>secondHouse/list</string>
	</dict>
	<key>2004</key>
	<dict>
		<key>class</key>
		<string>QSRentHouseListReturnData</string>
		<key>url</key>
		<string>rentHouse/list</string>
	</dict>
	<key>1002</key>
	<dict>
		<key>class</key>
		<string>QSCityInfoReturnData</string>
		<key>url</key>
		<string>config/CityList?d</string>
	</dict>
	<key>2000</key>
	<dict>
		<key>class</key>
		<string>QSSecondHandHouseListReturnData</string>
		<key>url</key>
		<string>secondHouse/list</string>
	</dict>
	<key>1001</key>
	<dict>
		<key>class</key>
		<string>QSBaseConfigurationReturnData</string>
		<key>url</key>
		<string>config/get</string>
	</dict>
	<key>1000</key>
	<dict>
		<key>class</key>
		<string>QSConfigurationReturnData</string>
		<key>url</key>
		<string>config/version</string>
	</dict>
	<key>999</key>
	<dict>
		<key>class</key>
		<string>QSAdvertReturnData</string>
		<key>url</key>
		<string>site/advertise</string>
	</dict>
</dict>
</plist>
