<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rent_instruction_list</key>
	<array>
		<dict>
			<key>file_name</key>
			<string>ContractRentLeaseAgreementHTML</string>
			<key>title</key>
			<string>广州市租赁合同登记备案指南</string>
		</dict>
	</array>
	<key>sale_instruction_list</key>
	<array>
		<dict>
			<key>file_name</key>
			<string>ContractRentLeaseAgreementHTML</string>
			<key>title</key>
			<string>办理委托手续的条件</string>
		</dict>
		<dict>
			<key>file_name</key>
			<string>ContractRentLeaseAgreementHTML</string>
			<key>title</key>
			<string>签订商品房买卖合同时，需不需要请律师见证</string>
		</dict>
		<dict>
			<key>file_name</key>
			<string>ContractRentLeaseAgreementHTML</string>
			<key>title</key>
			<string>个人转让房地产应征土地增值税解答</string>
		</dict>
		<dict>
			<key>file_name</key>
			<string>ContractRentLeaseAgreementHTML</string>
			<key>title</key>
			<string>如何办理个人所得税据实征收手续</string>
		</dict>
		<dict>
			<key>file_name</key>
			<string>ContractRentLeaseAgreementHTML</string>
			<key>title</key>
			<string>个人转让房地产应征营业税及附加具体税率多少</string>
		</dict>
		<dict>
			<key>file_name</key>
			<string>ContractRentLeaseAgreementHTML</string>
			<key>title</key>
			<string>办理个人所得税退税条件如何？哪个机关具体办理</string>
		</dict>
	</array>
	<key>sale_contract_list</key>
	<array>
		<dict>
			<key>file_name</key>
			<string>ContractBuySecondHandHouseSaletHTML</string>
			<key>title</key>
			<string>二手房买卖合同</string>
		</dict>
		<dict>
			<key>file_name</key>
			<string>ContractBuySecondHandHouseSaleSupplementalAgreementHTML</string>
			<key>title</key>
			<string>带补充协议的二手房买卖合同范本</string>
		</dict>
		<dict>
			<key>file_name</key>
			<string>ContractBuySecondHandHouseSaleDownSupplementalAgreementHTML</string>
			<key>title</key>
			<string>买卖定金支付及要约发出通知书的补充协议</string>
		</dict>
	</array>
	<key>rent_contract_list</key>
	<array>
		<dict>
			<key>file_name</key>
			<string>ContractRentLeaseAgreementHTML</string>
			<key>title</key>
			<string>广州市房屋租赁合同</string>
		</dict>
	</array>
</dict>
</plist>
