<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>House_Service</key>
	<array>
		<dict>
			<key>normal</key>
			<string>house_detail_second_ranqi</string>
			<key>selected</key>
			<string>house_detail_second_ranqi_light</string>
			<key>name</key>
			<string>燃气/天燃气</string>
			<key>installation_key</key>
			<string>200401</string>
		</dict>
		<dict>
			<key>normal</key>
			<string>house_detail_rent_nuanqi</string>
			<key>selected</key>
			<string>house_detail_rent_nuanqi_light</string>
			<key>name</key>
			<string>暖气</string>
			<key>installation_key</key>
			<string>200402</string>
		</dict>
		<dict>
			<key>normal</key>
			<string>house_detail_second_dianti</string>
			<key>selected</key>
			<string>house_detail_second_dianti_light</string>
			<key>name</key>
			<string>电梯</string>
			<key>installation_key</key>
			<string>200403</string>
		</dict>
		<dict>
			<key>normal</key>
			<string>house_detail_rent_park</string>
			<key>selected</key>
			<string>house_detail_rent_park_light</string>
			<key>name</key>
			<string>车位</string>
			<key>installation_key</key>
			<string>200404</string>
		</dict>
		<dict>
			<key>normal</key>
			<string>house_detail_second_cheku</string>
			<key>selected</key>
			<string>house_detail_second_cheku_light</string>
			<key>name</key>
			<string>车库</string>
			<key>installation_key</key>
			<string>200405</string>
		</dict>
		<dict>
			<key>normal</key>
			<string>house_detail_second_dixiashi</string>
			<key>selected</key>
			<string>house_detail_second_dixiashi_light</string>
			<key>name</key>
			<string>地下室</string>
			<key>installation_key</key>
			<string>200406</string>
		</dict>
		<dict>
			<key>normal</key>
			<string>house_detail_second_huayuan</string>
			<key>selected</key>
			<string>house_detail_second_huayuan_light</string>
			<key>name</key>
			<string>花园</string>
			<key>installation_key</key>
			<string>200407</string>
		</dict>
		<dict>
			<key>normal</key>
			<string>house_detail_second_loutai</string>
			<key>selected</key>
			<string>house_detail_second_loutai_light</string>
			<key>name</key>
			<string>露台</string>
			<key>installation_key</key>
			<string>200408</string>
		</dict>
		<dict>
			<key>normal</key>
			<string>house_detail_second_gelou</string>
			<key>selected</key>
			<string>house_detail_second_gelou_light</string>
			<key>name</key>
			<string>阁楼</string>
			<key>installation_key</key>
			<string>200409</string>
		</dict>
	</array>
</dict>
</plist>
