<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Advert</key>
	<string>site/advertise</string>
	<key>IPHome</key>
	<string>http://117.41.235.110:9527/</string>
	<key>DomainHome</key>
	<string>http://www.fdangjia.com/</string>
	<key>ImageFileIPHome</key>
	<string>http://117.41.235.102:6300/</string>
	<key>ImageFileDomainHome</key>
	<string>http://img.fdangjia.com/</string>
</dict>
</plist>
