<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>trade_type</key>
	<dict>
		<key>right_title</key>
		<string></string>
		<key>action_type</key>
		<string>20</string>
		<key>type</key>
		<string>1</string>
		<key>order</key>
		<string>0</string>
		<key>placehold</key>
		<string></string>
		<key>left_title</key>
		<string>物业类型</string>
		<key>filter_key</key>
		<string></string>
	</dict>
	<key>district</key>
	<dict>
		<key>right_title</key>
		<string></string>
		<key>action_type</key>
		<string>21</string>
		<key>type</key>
		<string>1</string>
		<key>order</key>
		<string>1</string>
		<key>placehold</key>
		<string></string>
		<key>left_title</key>
		<string>区       域</string>
		<key>filter_key</key>
		<string></string>
	</dict>
	<key>street</key>
	<dict>
		<key>right_title</key>
		<string></string>
		<key>action_type</key>
		<string>22</string>
		<key>type</key>
		<string>1</string>
		<key>order</key>
		<string>2</string>
		<key>placehold</key>
		<string></string>
		<key>left_title</key>
		<string>所在街道</string>
		<key>filter_key</key>
		<string></string>
	</dict>
	<key>community_name</key>
	<dict>
		<key>right_title</key>
		<string></string>
		<key>action_type</key>
		<string>23</string>
		<key>type</key>
		<string>4</string>
		<key>order</key>
		<string>3</string>
		<key>placehold</key>
		<string></string>
		<key>left_title</key>
		<string>小区名称</string>
		<key>filter_key</key>
		<string></string>
	</dict>
	<key>address</key>
	<dict>
		<key>right_title</key>
		<string></string>
		<key>action_type</key>
		<string>24</string>
		<key>type</key>
		<string>4</string>
		<key>order</key>
		<string>4</string>
		<key>placehold</key>
		<string></string>
		<key>left_title</key>
		<string>详细地址</string>
		<key>filter_key</key>
		<string></string>
	</dict>
	<key>house_type</key>
	<dict>
		<key>right_title</key>
		<string></string>
		<key>action_type</key>
		<string>25</string>
		<key>type</key>
		<string>1</string>
		<key>order</key>
		<string>5</string>
		<key>placehold</key>
		<string></string>
		<key>left_title</key>
		<string>户       型</string>
		<key>filter_key</key>
		<string></string>
	</dict>
	<key>area</key>
	<dict>
		<key>right_title</key>
		<string></string>
		<key>action_type</key>
		<string>26</string>
		<key>type</key>
		<string>1</string>
		<key>order</key>
		<string>6</string>
		<key>placehold</key>
		<string></string>
		<key>left_title</key>
		<string>面       积</string>
		<key>filter_key</key>
		<string></string>
	</dict>
	<key>price</key>
	<dict>
		<key>right_title</key>
		<string>万</string>
		<key>action_type</key>
		<string>27</string>
		<key>type</key>
		<string>9</string>
		<key>order</key>
		<string>7</string>
		<key>placehold</key>
		<string></string>
		<key>left_title</key>
		<string>售       价</string>
		<key>filter_key</key>
		<string></string>
	</dict>
	<key>is_price</key>
	<dict>
		<key>right_title</key>
		<string></string>
		<key>action_type</key>
		<string>28</string>
		<key>type</key>
		<string>1</string>
		<key>order</key>
		<string>8</string>
		<key>placehold</key>
		<string></string>
		<key>left_title</key>
		<string>是否议价</string>
		<key>filter_key</key>
		<string></string>
	</dict>
</dict>
</plist>
