<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>property</key>
	<dict>
		<key>action_type</key>
		<string>20</string>
		<key>type</key>
		<string>1</string>
		<key>order</key>
		<string>0</string>
		<key>placehold</key>
		<string>不限</string>
		<key>left_title</key>
		<string>房屋性质</string>
		<key>filter_key</key>
		<string>nature</string>
	</dict>
	<key>building_year</key>
	<dict>
		<key>action_type</key>
		<string>21</string>
		<key>type</key>
		<string>1</string>
		<key>order</key>
		<string>1</string>
		<key>placehold</key>
		<string>不限</string>
		<key>left_title</key>
		<string>建筑年代</string>
		<key>filter_key</key>
		<string>buildingYear</string>
	</dict>
	<key>user_year</key>
	<dict>
		<key>action_type</key>
		<string>22</string>
		<key>type</key>
		<string>1</string>
		<key>order</key>
		<string>2</string>
		<key>placehold</key>
		<string>不限</string>
		<key>left_title</key>
		<string>使用年限</string>
		<key>filter_key</key>
		<string>propertyRightYear</string>
	</dict>
	<key>floor</key>
	<dict>
		<key>action_type</key>
		<string>23</string>
		<key>type</key>
		<string>1</string>
		<key>order</key>
		<string>3</string>
		<key>placehold</key>
		<string>不限</string>
		<key>left_title</key>
		<string>楼       层</string>
		<key>filter_key</key>
		<string>floor</string>
	</dict>
	<key>face</key>
	<dict>
		<key>action_type</key>
		<string>24</string>
		<key>type</key>
		<string>1</string>
		<key>order</key>
		<string>4</string>
		<key>placehold</key>
		<string>不限</string>
		<key>left_title</key>
		<string>朝       向</string>
		<key>filter_key</key>
		<string>face</string>
	</dict>
	<key>decoration</key>
	<dict>
		<key>action_type</key>
		<string>25</string>
		<key>type</key>
		<string>1</string>
		<key>order</key>
		<string>5</string>
		<key>placehold</key>
		<string>不限</string>
		<key>left_title</key>
		<string>装       修</string>
		<key>filter_key</key>
		<string>decoration</string>
	</dict>
	<key>device</key>
	<dict>
		<key>action_type</key>
		<string>26</string>
		<key>type</key>
		<string>1</string>
		<key>order</key>
		<string>6</string>
		<key>placehold</key>
		<string>不限</string>
		<key>left_title</key>
		<string>配       套</string>
		<key>filter_key</key>
		<string>installationString</string>
	</dict>
</dict>
</plist>
