<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>owner</key>
	<array>
		<dict>
			<key>subtitle_tag</key>
			<string>105</string>
			<key>title</key>
			<string>预约订单</string>
			<key>action_tag</key>
			<string>105</string>
			<key>image_highlighted</key>
			<string>myzone_renant_order_appointed_highlighted</string>
			<key>image_normal</key>
			<string>myzone_renant_order_appointed_normal</string>
		</dict>
		<dict>
			<key>subtitle_tag</key>
			<string>106</string>
			<key>title</key>
			<string>成交订单</string>
			<key>action_tag</key>
			<string>106</string>
			<key>image_highlighted</key>
			<string>myzone_renant_order_deal_highlighted</string>
			<key>image_normal</key>
			<string>myzone_renant_order_deal_normal</string>
		</dict>
		<dict>
			<key>subtitle_tag</key>
			<string>107</string>
			<key>title</key>
			<string>管理物业</string>
			<key>action_tag</key>
			<string>107</string>
			<key>image_highlighted</key>
			<string>myzone_renant_collect_highlighted</string>
			<key>image_normal</key>
			<string>myzone_renant_collect_normal</string>
		</dict>
		<dict>
			<key>subtitle_tag</key>
			<string>108</string>
			<key>title</key>
			<string>推荐房客</string>
			<key>action_tag</key>
			<string>108</string>
			<key>image_highlighted</key>
			<string>myzone_owner_recommend_renant_highlighted</string>
			<key>image_normal</key>
			<string>myzone_owner_recommend_renant_normal</string>
		</dict>
	</array>
	<key>renant</key>
	<array>
		<dict>
			<key>subtitle_tag</key>
			<string>103</string>
			<key>title</key>
			<string>预约订单</string>
			<key>action_tag</key>
			<string>103</string>
			<key>image_highlighted</key>
			<string>myzone_renant_order_appointed_highlighted</string>
			<key>image_normal</key>
			<string>myzone_renant_order_appointed_normal</string>
		</dict>
		<dict>
			<key>subtitle_tag</key>
			<string>104</string>
			<key>title</key>
			<string>完成订单</string>
			<key>action_tag</key>
			<string>104</string>
			<key>image_highlighted</key>
			<string>myzone_renant_order_deal_highlighted</string>
			<key>image_normal</key>
			<string>myzone_renant_order_deal_normal</string>
		</dict>
		<dict>
			<key>subtitle_tag</key>
			<string>105</string>
			<key>title</key>
			<string>求租求购</string>
			<key>action_tag</key>
			<string>105</string>
			<key>image_highlighted</key>
			<string>myzone_renant_beg_highlighted</string>
			<key>image_normal</key>
			<string>myzone_renant_beg_normal</string>
		</dict>
		<dict>
			<key>subtitle_tag</key>
			<string>106</string>
			<key>title</key>
			<string>收藏房源</string>
			<key>action_tag</key>
			<string>106</string>
			<key>image_highlighted</key>
			<string>myzone_renant_collect_highlighted</string>
			<key>image_normal</key>
			<string>myzone_renant_collect_normal</string>
		</dict>
		<dict>
			<key>subtitle_tag</key>
			<string>107</string>
			<key>title</key>
			<string>关注小区</string>
			<key>action_tag</key>
			<string>107</string>
			<key>image_highlighted</key>
			<string>myzone_renant_community_highlighted</string>
			<key>image_normal</key>
			<string>myzone_renant_community_normal</string>
		</dict>
		<dict>
			<key>subtitle_tag</key>
			<string>108</string>
			<key>title</key>
			<string>浏览足迹</string>
			<key>action_tag</key>
			<string>108</string>
			<key>image_highlighted</key>
			<string>myzone_renant_history_highlighted</string>
			<key>image_normal</key>
			<string>myzone_renant_history_normal</string>
		</dict>
	</array>
</dict>
</plist>
